COMPOSE_PROJECT_NAME=bakeops

POSTGRES_DB=bakeops
POSTGRES_USER=bakeops
POSTGRES_PASSWORD=bakeops_dev_password
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=change-me-for-non-development-environments
DEFAULT_USER_PASSWORD=password123
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,192.168.1.61
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3100,http://192.168.1.61:3100
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3100,http://192.168.1.61:3100
BACKEND_PORT=8000

NEXT_PUBLIC_API_BASE_URL=/api/v1
INTERNAL_API_BASE_URL=http://backend:8000/api/v1
NEXT_ALLOWED_DEV_ORIGINS=192.168.1.61
FRONTEND_PORT=3100
